# FEATURE ENGINEERING:
- Feature engineering is the process of converting raw data into meaningful numerical features so that a ml model can understand patterns and make better prediction.

1.Feature exploration:
-----------------------
- The process of anayzing and visualizing features to uncover patterns,distributions,coreelations and potenttial issues in the dataset before applying ml.

2.Feature creation:
--------------------------
- The process of generating new meaningful features from existing data using domain knowledge or mathematical operations to help the model learn better patterns.

3.Feature Encoding:
----------------------------
- The process of converting categorical or non numeric features into numeric from so machine learning models can process them effectively

4.Feature Scaling:
-------------------------
- The process of transforming numerical features to a standard range so that no feature dominates the learning process due to its scale

5.Feature Selection:
---------------------------
- The process of identifying and keeping only the most relevant features while removing irrelavant or redundant ones to improve model perfromance and reduce overfitting.

# Feature creation:(Adds Intellifence)

-> Defintion:
-----------------

- Feature creation is the process of creating new features frm existing data using domain kmowledge adn mathematical operations to help to model learn better patterns.

why it" Adds Intelligence":
* Raw data may not show hideen relationships
* New features provide extra inforation
* Model cannot think logically-features guide learning

-> Common Types of Feature creation:
------------------------------------------------------

* Domain- based features(real-world Logic)
* mathematical combinations(sum,average,ratio)
* Interaction features( combined effect of features)
* polynomial features(non linear relationships)

-> Examples:
* Total_marks= Math+Science
* efficiency= total_marks/Study_hours

-> Impact on model:
----------------------------
- Improves accuracy
- Helps models capture complex patterns
- Makes simple models perfom better

In [12]:
import pandas as pd
df=pd.DataFrame({
    "Study_Hours":[2,4,6,8,10],
    "Attendance":[60,70,80,90,95],
    "Maths":[40,55,65,75,80],
    "science":[42,58,68,78,88]
})
df

   Study_Hours  Attendance  Maths  science
0            2          60     40       42
1            4          70     55       58
2            6          80     65       68
3            8          90     75       78
4           10          95     80       88

# Domain-based feature

In [13]:
df["Total_marks"]=df["Maths"]+ df["science"]
df

   Study_Hours  Attendance  Maths  science  Total_marks
0            2          60     40       42           82
1            4          70     55       58          113
2            6          80     65       68          133
3            8          90     75       78          153
4           10          95     80       88          168

# Mathematical Feature

In [14]:
df["marks_perhour"]=df["Total_marks"]/df["Study_Hours"]
df

   Study_Hours  Attendance  Maths  science  Total_marks  marks_perhour
0            2          60     40       42           82      41.000000
1            4          70     55       58          113      28.250000
2            6          80     65       68          133      22.166667
3            8          90     75       78          153      19.125000
4           10          95     80       88          168      16.800000

# Interaction Feature

In [15]:
df["Study_attedendance_interaction"]=df["Study_Hours"]*df["Attendance"]
df

,Study_Hours,Attendance,Maths,science,Total_marks,marks_perhour,Study_attedendance_interaction
0,2,60,40,42,82,41.000000,120
1,4,70,55,58,113,28.250000,280
2,6,80,65,68,133,22.166667,480
3,8,90,75,78,153,19.125000,720
4,10,95,80,88,168,16.800000,950

# Polynomial Feature

In [16]:
df["Study_Hours_squared"]=df["Study_Hours"]**2
df

,Study_Hours,Attendance,Maths,science,Total_marks,marks_perhour,Study_attedendance_interaction,Study_Hours_squared
0,2,60,40,42,82,41.000000,120,4
1,4,70,55,58,113,28.250000,280,16
2,6,80,65,68,133,22.166667,480,36
3,8,90,75,78,153,19.125000,720,64
4,10,95,80,88,168,16.800000,950,100

# Feature selection:
-Feature selection is the process of selecting only relevant features and removing irrelavant or redunadnat ones to improve model performance
-> why it removes noise:
----------------------------------
- Too many features coonfuses the model
- Irrelevant features cause overfitting
- Noise reduces prediction accuracy

-> Types of Feature selection:
----------------------------------------

- Filter Methods(Correlation,chi-squared)
- Wrapper methods(forward,backward,RFE)
- Embedded Methods(Lasso,RIdge,Tree based models)

-> Example:
----------------
- Removing weakly correlated features
- Dropping features with zero importance
- Selecting top features using RFE

-> Impact on model:
------------------------------
- reduces overfitting
- Improves generalization
- speeds up training

In [17]:
df

,Study_Hours,Attendance,Maths,science,Total_marks,marks_perhour,Study_attedendance_interaction,Study_Hours_squared
0,2,60,40,42,82,41.000000,120,4
1,4,70,55,58,113,28.250000,280,16
2,6,80,65,68,133,22.166667,480,36
3,8,90,75,78,153,19.125000,720,64
4,10,95,80,88,168,16.800000,950,100

In [19]:
x=df.drop("science",axis=1)
y=df["science"]
x

,Study_Hours,Attendance,Maths,Total_marks,marks_perhour,Study_attedendance_interaction,Study_Hours_squared
0,2,60,40,82,41.000000,120,4
1,4,70,55,113,28.250000,280,16
2,6,80,65,133,22.166667,480,36
3,8,90,75,153,19.125000,720,64
4,10,95,80,168,16.800000,950,100

In [20]:
y

0    42
1    58
2    68
3    78
4    88
Name: science, dtype: int64

# Filter Methods(Statistics-based)
*Correlation method:
-----------------------------

In [22]:
df.corr()["science"].sort_values(ascending=False)

science                           1.000000
Total_marks                       0.998981
Maths                             0.995467
Study_Hours                       0.994309
Attendance                        0.994110
Study_attedendance_interaction    0.983804
Study_Hours_squared               0.958102
marks_perhour                    -0.968737
Name: science, dtype: float64

# Selectinf Important Features

In [28]:
corr=df.corr()["science"].abs()
corr

Study_Hours                       0.994309
Attendance                        0.994110
Maths                             0.995467
science                           1.000000
Total_marks                       0.998981
marks_perhour                     0.968737
Study_attedendance_interaction    0.983804
Study_Hours_squared               0.958102
Name: science, dtype: float64

In [29]:
selected_features=corr[corr > 0.8].index
selected_features

Index(['Study_Hours', 'Attendance', 'Maths', 'science', 'Total_marks',
       'marks_perhour', 'Study_attedendance_interaction',
       'Study_Hours_squared'],
      dtype='object')