In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\SRI AKHILA\Book1.csv")
df

        city  humidity  temp
0        Hyd      34.0  56.0
1        kkd      45.0  67.0
2        vzg      56.0   NaN
3        Hyd      23.0  32.0
4        vzg      34.0  89.0
5        kkd       NaN  67.0
6  bangalore      78.0  67.0

In [2]:
df.max()

city         vzg
humidity    78.0
temp        89.0
dtype: object

In [3]:
df.min()

city         Hyd
humidity    23.0
temp        32.0
dtype: object

In [4]:
df["temp"].mean()

63.0

In [5]:
df["humidity"].mean()

45.0

In [6]:
df["temp"].mode()

0    67.0
Name: temp, dtype: float64

In [7]:
df["temp"].median()

67.0

In [8]:
df["temp"].var()

346.8

In [9]:
df["temp"].std()

18.62256695517565